<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>//TODO Stack</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- TODO disable zoom -->
        <link rel="canonical" href="http://mrcoles.com/todo/"/>
        <link rel="stylesheet" href="style.css">
        <script src="lib/modernizr-2.5.3.js"></script>
    </head>
    <body>
        <div id="header"><div class="inner">
                <h1>Stack</h1>
                <a class="add" href="#" onclick="return false" tabindex="0">+</a>
        </div></div>
        <div id="content"><div class="inner" id="tasks">
            <div id="add-helper" class="helper">add a task</div>

            <!--
            <div class="box active selected editing">
                <div class="num">2</div>
                <div class="text" tabindex="0">eeasdfasdf</div>
                <div class="edit-wrap"><input class="edit" type="text" placeholder="enter a new task..." value="eeasdfasdf"></div>
                <a class="pop" href="#" onclick="return false" tabindex="0">X</a>
            </div>
            <div class="box active">
                <div class="num">1</div>
                <div class="text" tabindex="0">fun</div>
                <div class="edit-wrap"><input class="edit" type="text" placeholder="enter a new task..." value="fun"></div>
                <a class="pop" href="#" onclick="return false" tabindex="0">X</a>
            </div>
            -->
        </div></div>
        <div id="under"><div class="inner">
            <!--
            <div class="box">
                <div class="num">0</div>
                <div class="text">Done another thing</div>
                <a class="pop" href="#" onclick="return false">X</a>
            </div>
            -->
            <div class="clr">
                <br>
                <p class="left br">
                    Type “?” to see keyboard shortcuts.
                </p>
                <p class="right">
                    made by <a href="http://mrcoles.com">peter coles</a> /
                    <a href="https://twitter.com/lethys">twit</a> /
                    <a href="https://github.com/mrcoles/todo-stack">git</a>
                </p>
            </div>
        </div></div>

        <script id="template-box" type="text/template">
            <div class="num"><%- i %></div>
            <div class="text" tabindex="0"><%- text %></div>
            <div class="edit-wrap"><input class="edit" type="text" placeholder="enter a new task..." value="<%= text %>" /></div>
            <a class="pop" href="#" onclick="return false" tabindex="0">X</a>
        </script>

        <script id="template-help" type="text/template">
            <div id="hotkey-modal" class="modal">
                <a class="close" href="#" onclick="$(this).closest('#hotkey-modal').remove();return false">x</a>
                <h3>Hotkeys</h3>
                <dl>
                <% _.each(keyevents, function(obj) { %>
                <dt><%= obj.key %></dt>
                <dd><%= obj.help %></dd>
                <% }) %>
                </dl>
            </div>
        </script>

        <script src="lib/jquery.js"></script>
        <script src="lib/jquery.hotkeys.js"></script>
        <script src="lib/underscore.js"></script>
        <script src="lib/backbone.js"></script>
        <script src="lib/backbone-localstorage.js"></script>
        <script src="app.js"></script>
    </body>
</html>
